/*
 * Copyright 2016 CurrencyFair - www.currencyfair.com
 * CSS File - Wordpress Plugin v1.0.0
 * Author: CurrencyFair
 */

#currencyfair-main input {
    font: inherit;
    color: #396172;
    font-size: 20px;
    line-height: 40px;
    outline: none;
    border: 1px solid #ced9de;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: white;
    height: 40px;
    padding-right: 7px;
}

#currencyfair-main input.button-primary {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    display: inline-block;
    background: #f15925;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 20px;
    border-color: #f15925;
    border-bottom: 3px solid #c73a0a;
    text-shadow: none;
}
#currencyfair-main input.button-primary:hover {
    background: #e44e1b;
}

#currencyfair-main .secret-key-benefit {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #ced9de;
    border-width: 0 1px 1px;
    background: #f0f5f7;
    color: #396172;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
#currencyfair-main .secret-key-benefit p {
    font-style: italic;
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 10px;
}
#currencyfair-main .secret-key-benefit:hover {
    background: #fff;
}

@media (max-width: 650px) {
    #currencyfair-main input {
        width: 100%;
    }
}
